html {
	min-height: 100%;
}

body {
	font-size: 14px;
	font-weight: 400;
	background: url('http://res.cloudinary.com/dps0ohgkp/image/upload/v1478111888/splash_page_dvkfys.jpg') no-repeat white;
	background-size: 80%;
	background-position: 50% 25%;
	min-height: 100%;
	margin: 0 auto;
}

button, input[type="submit"] {
}

// background: $light-gray;
