html {
	min-height: 100%;
	background-color: #F7F7F9;
}

.splashpage {
	background: url("http://res.cloudinary.com/dps0ohgkp/image/upload/v1478748931/rsz_4rsz_newsplash_um8u7a_sokarl.jpg");
	height: 93vh;
	font-weight: 400;
	background-position: 50% 10%;
	padding: 0px;
	text-align: center;
	background-size:cover;

}
.modalbutton {
	padding: 2%;
	background: #0eaffd;
	border-radius: 5px;
	color: #fff;
	font-size: 22px;
	font-family: avenir;
	font-weight: 500;
	color: white;
	width: 150px;
	margin: 10px 5px;
}


.modalbutton:hover {
	background-color: #0e99fd;
	transition: background .2s ease-in;
	color: white;
	cursor: pointer;
}


.splashpage h1  {
	color: #ff0432;
	font-family: avenir;
	font-size: 60px;
	background: rgba(252, 252, 252, 0.3);
	border-radius: 5px;
	position: relative;
	top: 225px;
	padding: 18px;
	margin: 0 auto;
	width: 500px;
}

button:hover {
	background-color: #3d79e5;
	transition: background .2s ease-in;
	color: white;
	cursor: pointer;
}

.explorebutton {
	padding: 12px 20px;
	background: #43D1AF;
	border-radius: 5px;
	color: #fff;
	font-size: 22px;
	font-family: avenir;
	font-weight: 500;
	color: white;
	position: relative;
	top: 270px;
	margin: 5px;
}

.explorebutton:hover {
	background-color: #2EBC99;
	transition: background .2s ease-in;
	color: white;
}


.guestbutton {
	padding: 12px 20px;
	background: #0eaffd;
	border-radius: 5px;
	color: #fff;
	font-size: 22px;
	font-family: avenir;
	font-weight: 500;
	color: white;
	position: relative;
	top: 270px;
	margin: 5px;
}

.guestbutton:hover {
	background-color: #0e99fd;
	transition: background .2s ease-in;
	color: white;
	cursor: pointer;
}
.formbutton {
	display: block;
	margin: 0 auto 30px auto;
	padding: 0px 120px;
	height: 45px;
	text-align: center;
	border-radius: 3px;
	font-size: 18px;
	color: black;
	width: 20%;
	background-color: #43D1AF;
}


.uploadbutton {
	background-color: $sky-blue;
	font-size: 16px;
	color: white;
	padding: 5px;
	border-radius:4px;
	border-bottom: 2px solid #3d79e5;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
}
.uploadbutton:hover {
	background-color: #3d79e5;
	transition: background .2s ease-in;
}
