html {
	min-height: 100%;
	background-color: #F7F7F9;
}

.splashpage {
	background: url('http://res.cloudinary.com/dps0ohgkp/image/upload/c_scale,h_700,q_100,w_1250/v1478212509/newsplash_um8u7a.jpg') no-repeat white;
	background-size: cover;
	font-weight: 400;
	background-position: 50% 10%;
	min-height: 800px;
	display: flex;
	padding: 60px;
	align-items: center;
	justify-content: center;
}

button:hover {
	background-color: #3d79e5;
	transition: background .2s ease-in;
}

.explorebutton {
	padding: 0px 10px;
	background: #F7F7F7;
	border-radius: 5px;
	color: #fff;
	font-size: 22px;
	font-family: avenir;
	font-weight: 500;
	color: #E91616;
}
.explore {
	font-size: 20px;
	font-family: avenir;
}

.formbutton {
	display: block;
	margin: 0 auto 30px auto;
	padding: 0px 120px;
	height: 45px;
	text-align: center;
	border-radius: 3px;
	font-size: 18px;
	color: black;
	width: 20%;
	background-color: #43D1AF;
}


.uploadbutton {
	background-color: $sky-blue;
	margin: 10px auto;
	font-size: 16px;
	color: white;
	padding: 5px;
	border-radius:4px;
	border-bottom: 2px solid #3d79e5;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
}
.uploadbutton:hover {
	background-color: #3d79e5;
	transition: background .2s ease-in;
}
