

.campaignform {
    font: 95% avenir;
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
    background-color: white;
}
.campaignform h1 {
    background-color: #43D1AF;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}

.campaignform input[type="text"],
.campaignform input[type="date"],
.campaignform input[type="datetime"],
.campaignform input[type="email"],
.campaignform input[type="number"],
.campaignform input[type="search"],
.campaignform input[type="time"],
.campaignform input[type="url"],
.campaignform textarea,
.campaignform select
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, avenir, sans-serif;
}

.campaignform input[type="text"]:focus,
.campaignform input[type="date"]:focus,
.campaignform input[type="datetime"]:focus,
.campaignform input[type="email"]:focus,
.campaignform input[type="number"]:focus,
.campaignform input[type="search"]:focus,
.campaignform input[type="time"]:focus,
.campaignform input[type="url"]:focus,
.campaignform textarea:focus,
.campaignform select:focus

{
    box-shadow: 0 0 5px #43D1AF1;
    padding: 3%;
    border: 1px solid #43D1AF1;
}

.campaignform input[type="submit"],
.campaignform input[type="button"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background-color: #43D1AF1;
    border-bottom: 2px solid #43D1AF;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
}

.campaignform input[type="submit"]:hover,
.campaignform input[type="button"]:hover{
    background: #2EBC99;
}


.campaignform {
    font: 95% avenir;
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
    background: #F7F7F7;
}
.campaignform h1 {
    background: white;
    padding: 20px 0;
    font-size: 200%;
    font-weight: 300;
    text-align: center;
    color: black;
    margin: -16px -16px 16px -16px;
}

.campaignform input[type="text"],
.campaignform input[type="date"],
.campaignform input[type="datetime"],
.campaignform input[type="email"],
.campaignform input[type="number"],
.campaignform input[type="search"],
.campaignform input[type="time"],
.campaignform input[type="url"],
.campaignform textarea,
.campaignform select
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, avenir, sans-serif;
}

.campaignform input[type="text"]:focus,
.campaignform input[type="date"]:focus,
.campaignform input[type="datetime"]:focus,
.campaignform input[type="email"]:focus,
.campaignform input[type="number"]:focus,
.campaignform input[type="search"]:focus,
.campaignform input[type="time"]:focus,
.campaignform input[type="url"]:focus,
.campaignform textarea:focus,
.campaignform select:focus

{
    box-shadow: 0 0 5px #43D1AF1;
    padding: 3%;
    border: 1px solid #43D1AF1;
}

.campaignform input[type="submit"],
.campaignform input[type="button"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background-color: #43D1AF;
    border-bottom: 2px solid #43D1AF;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
}

.campaignform input[type="submit"]:hover,
.campaignform input[type="button"]:hover{
  background: #2EBC99;
  transition: background .2s ease-in;
}

.back {
  font-size: 20px;
  margin: 0 auto;
  text-decoration: underline;
}
