.contributionIndexItem {
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #0D2147;


}
.contributionIndexItem h2 {
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  padding: 15px 41px;
  background: $light-gray;
  width: 20%;
  text-align: center;
  border: 1px solid #0D2157;
  font-family: avenir;
}

.contributionIndexItem h2:last-child {
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  padding: 15px 41px;
  background: $light-gray;
  width: 20%;
  text-align: center;
  font-family: avenir;
}

.contributionTable {
  padding: 30px 0 170px;

}

.contributionIndexItem h1 {
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  padding: 15px 41px;
  background: $light-gray;
  width: 20%;
  text-align: center;
  background-color: #0D2157;
  color: white;
  font-family: avenir;
}

.contributionheader {
  padding: 30px;
  text-align: center;
  font-size: 26px;
  color: #0D2157;
}

.contributionIndex {
  font-size: 20px;
}
