.contributionIndexItem {
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #4285F4;
}

.campaignform h1{
  font-size: 100;
  text-align: center;
}
.contributionIndexItem h2 {
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  padding: 15px 41px;
  background: $light-gray;
  width: 19.9%;
  text-align: center;
  border: 1px solid #4285F4;
  font-family: avenir, 'Lato';
}

.contributionIndexItem h2:last-child {
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  padding: 15px 41px;
  background: $light-gray;
  width: 20%;
  text-align: center;
  font-family: avenir, 'Lato';
}
.contribution {
  width: 640px
}
.contributionTable {
  padding: 20px 0 130px;

}

.contributionIndexItem h1 {
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  padding: 15px 41px;
  background: $light-gray;
  width: 20%;
  text-align: center;
  background-color: #4285F4;
  color: white;
  font-family: avenir, 'Lato';
}

.contributionheader {
  padding: 100px 0 25px 0;
  text-align: center;
  font-size: 26px;
  color: black;
}

.contributionIndex {
  font-size: 20px;
}
