
.navbar {
  font-family: avenir, 'Lato';
  background-color: rgb(252,252,252);
  margin: 0 0px;
  display: flex;
  font-size: 26px;
  justify-content: space-between;
  background-color: #E62C47;
  padding: 0px 15px;
}

.dropdown {
  position: absolute;
  width: 450px;
  height: auto;
  right: 40px;
  border-radius: 8px;
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
}

.dropdown:hover {
  cursor:default;
}
.dropdown ul {
  background-color: rgba(163, 82, 173, 0.95);
  padding: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 22px;
  border-radius: 8px;
}

.dropdown ul:first-child {
  background-color: rgba(209, 67, 159, 0.95);
}

.dropdown li {
  font-size: 16px;
  padding-top: 8px;
}

.hidden {
  visibility: hidden;
}


.logout {
  font-weight: 400;
  font-size: 20px;
  background-color: $sky-blue;
  margin: 0 18px;
  padding: 5px;
  border-radius: 5px;
}


.name {
  font-size: 22px;
  font-weight: 300;
  padding: 0 18px;
}

.test {
  display: flex;
  justify-content: space-around;
}

// .name:hover{
//   cursor: pointer;
// }

.dropdown {
  display: block;
}



.links {
  font-size: 20px;
  display: flex;
  align-items: center;
  color: white;
  font-weight: 600;
  justify-content: space-between;
}




.loggedin {
  font-size: 24px;
  display: flex;
  align-items: center;
  color: white;
  font-weight: 300;
  justify-content: space-between;
  width: 200px;
}


.navbar a {
  text-decoration: none;
  color: rgb(90,90,90);
  font-weight: 400;
  display: inline;
  padding: 0px 20px;
  color: white;
  padding: 10px 12px 10px 12px;
}
