// Place all the styles related to the campaigns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.campaignIndex {
  display: flex;
  font-size: 20px;
  flex-wrap: wrap;
  padding: 20px 100px 0 82px;
  justify-content: flex-start;;
}

.campaignitem {
  width: 27%;
  height: 400px;
  border: 1px solid #EEEEEE;
  margin: 20px 30px;
  border-radius: 7px;
}


.campaignitem img {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  height: 180px;
}

.header {
  padding: 180px 0 15px 115px;
  list-style: none;
  font-size: 28px;
}


.campaignitem h1 {
  padding: 10px 7px;
  font-size: 15px;
  font-weight: 600;
}

.campaignitem h2 {
  padding: 5px 7px;
  font-size: 14px;
  font-weight: 500;
}
