// Place all the styles related to the campaigns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.campaignIndex {
  display: flex;
  font-size: 20px;
  flex-wrap: wrap;
}

.campaignitem {
  width: 400px;
  padding: 60px 40px;
}
