// Place all the styles related to the campaigns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.campaignIndex {
  padding: 40px;
  border: 10px;
}

.campaignIndex a {
  font-size: 20px;
  border: 100px;
}
