/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   font-size: 14px;
   font-weight: 400;
   background: #eee;
   background: url(splash_page.jpeg) no-repeat;
   background-size: 1268px;
   margin: 0 auto;
 }

 .splash {
   background: url(splash_page.jpeg) no-repeat;
 }

.navbar {
  font-family: arial;
  background-color: rgb(252,252,252);
  float: left;
  margin: 0 auto;
  width: 1235px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  justify-content: space-between;
  padding: 15px;
}


.header-button {
  height: 20px;
  display: flex;
}

.login-signup {
  font-size: 20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

#background-video{
height: 100%;
width: 100%;
float: left;
top: 0;
padding: none;
position: fixed;

}


.navbar a {
  display: block;
  text-decoration: none;
  color: rgb(90,90,90);
  font-weight: 600;
}
