/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'css_reset.scss';


 html, body, header, nav, h1, a,
 ul, li, strong, main, button, i,
 section, img, div, h2, p, form,
 fieldset, label, input, textarea,
 span, article, footer, time, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   color: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   box-sizing: inherit;
   background: transparent;
 }

 ul {
   list-style: none;
 }

 img {
   display: block;
   width: 100%;
   height: auto;
 }

 input[type="password"],
 input[type="email"],
 input[type="text"],
 input[type="submit"],
 textarea,
 button {
   /*
   Get rid of native styling. Read more here:
   http://css-tricks.com/almanac/properties/a/appearance/
   */
   -webkit-appearance: none;
   -moz-appearance: none;
 }

 button,
 input[type="submit"] {
   cursor: pointer;
 }

 /* Clearfix */

 .group:after {
   content: "";
   display: block;
   clear: both;
 }


 body {
   font-size: 14px;
   font-weight: 400;
   background: #eee;
   background: url('http://res.cloudinary.com/dps0ohgkp/image/upload/v1478111888/splash_page_dvkfys.jpg') no-repeat;
   background-size: 1268px;
   margin: 0 auto;
 }

.navbar {
  font-family: arial;
  background-color: rgb(252,252,252);
  float: left;
  margin: 0 auto;
  width: 1235px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  justify-content: space-between;
  padding: 15px;
}


.links {
  font-size: 20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

/*#background-video{
height: 100%;
width: 100%;
float: left;
top: 0;
padding: none;
position: fixed;

}*/


.navbar a {
  display: block;
  text-decoration: none;
  color: rgb(90,90,90);
  font-weight: 600;
  justify-content: space-between;
  padding: 0
}
